<!DOCTYPE html>
<html lang="ru">
{{>page_head}}

<body class="page-body page-body--standard">
{{>page_header}}

<main class="main main--standard-color">
  {{{body}}}
  <button class="centering-button main__up-button main__up-button--hidden main__up-button--rounded">
    <img src="resources/images/up-arrow.png" class="centering-button__rounded-image" alt="кружок со стрелкой вверх">
  </button>
</main>

{{>page_footer}}
{{#each bodySectionScripts}}
  <script src="{{this}}"></script>
{{/each}}
</body>
</html>