<div class="main__content base-layout base-layout--from-left">
  <div class="about base-layout__item">
    <h1 class="about__title">
      Главная
    </h1>
    <p class="about__text">
      Тут пока ничего нет.
    </p>

  </div>
</div>
<button class="centering-button main__up-button main__up-button--hidden main__up-button--rounded">
  <img src="resources/images/up-arrow.png" class="centering-button__rounded-image" alt="кружок со стрелкой вверх">
</button>