<div class="main__content base-layout">
  <div class="vertical-container base-layout__item" id="loan_calc_container">
    <form autocomplete="off" class="form vertical-container__item" id="loan_calc_form">
      <h2 class="form__title">Расчёт ежемесячных платежей по кредиту (дифференцированные платежи)</h2>
      <hr class="form__hr">
      <div class="form__group">
        <!--                    this isn't label actually ¯\_(ツ)_/¯ -->
        <p class="form__label"><span class="form__label-text">Сумма кредита (от 100 до 100 млн)</span></p>
        <input class="form__input" type="number" min="100" max="100000000" step="0.01" name="amount"
               placeholder="Введите сумму"
               required>
      </div>
      <div class="form__group">
        <p class="form__label"><span class="form__label-text">Число месяцев (от 1 до 120)</span></p>
        <input class="form__input" type="number" min="1" max="120" step="1" name="monthsCount"
               placeholder="Введите число месяцев"
               required>
      </div>
      <div class="form__group">
        <p class="form__label"><span class="form__label-text">Процентная ставка (от 0 до 100%)</span>
        </p>
        <input class="form__input" type="number" min="0" max="100" step="0.01" name="rate"
               placeholder="Введите ставку" value="" required>
      </div>
      <button class="form__button form__button--submit">Рассчитать</button>
      <button class="form__button form__button--save">Сохранить параметры</button>
      <button class="form__button form__button--hidden form__button--load">Загрузить сохранённые параметры
      </button>
      <button class="form__button form__button--hidden form__button--clear">Удалить сохранённые параметры
      </button>
    </form>
    <div class="vertical-container__item vertical-container__item--hidden">
      <hr class="vertical-container__hr ">
    </div>
    <div class="vertical-container__item vertical-container__item--hidden">
      <div class="table table--calc-results">
        <p class="table__item table__item--header">№</p>
        <p class="table__item table__item--header">Выплата</p>
        <p class="table__item table__item--header">Оставшийся долг</p>
        <p class="table__item ">Оставшийся долг</p>
        <p class="table__item ">Оставшийся долг</p>
        <p class="table__item ">Оставшийся долг</p>
      </div>
    </div>
  </div>


</div>
