<div class="main__content base-layout">
  <div class="main__center-flow vertical-container">
    <div class="post vertical-container__item">
      <h1 class="post__title">Какой-то важный пост о чём-то</h1>
      <p class="post__text">Очень важный параграф</p>
      <p class="post__text">Очень важный параграф</p>
      <p class="post__text">Очень важный параграф</p>
      <p class="post__text">Очень важный параграф</p>
      <p class="post__text">Очень важный параграф</p>
      <p class="post__text">Очень важный параграф</p>
      <p class="post__text">Очень важный параграф</p>
      <p class="post__text">Очень важный параграф</p>
      <p class="post__text">Очень важный параграф</p>
      <p class="post__text">Очень важный параграф</p>
      <p class="post__text">Очень важный параграф</p>
      <p class="post__text">Очень важный параграф</p>
      <p class="post__text">Очень важный параграф</p>
      <p class="post__text">Очень важный параграф</p>
      <p class="post__text">Очень важный параграф</p>
    </div>
    <spinning-loader loader-speed="0.65"
                     class="vertical-container__item vertical-container__item--loader"
                     id="post-comments-loader"></spinning-loader>
    <div class="comments vertical-container__item vertical-container__item--hidden" id="post-comments">
    </div>
    <div class="warning vertical-container__item vertical-container__item--hidden" id="post-comments-warning">
      <img src="resources/images/exclamation_mark.png" alt="Восклицательный знак в треугольнике"
           class="warning__image">
      <span class="warning__text">Что-то пошло не так &mdash; комментарии не загрузились</span>
    </div>
  </div>

  <aside class="aside main__side-flow">
    <div class="aside__item">
      <p class="aside__item-text"><b class="aside__item-text--bold">Может быть интересно</b>: <a
        class="aside__item-text--link"
        href="http://ruvserod.ru/tables/2d/"><b class="aside__item-text--bold">новая
        публикация</b></a> на
        научном
        разделе сайта! <q class="aside__item-text--quoted">Ноль, целковый, полушка, четвертушка,
          осьмушка, пудовичок, медячок, серебрячок,
          золотничок, девятичок,
          десятичок.</q> <cite class="aside__item-text--cite"> &ndash; Юрий Рыбников</cite>
      </p>
    </div>
    <div class="aside__item">
      <img src="resources/images/japanese_landscape.jpg" class="aside__item-image"
           alt="красивый постер с японским пейзажем; цунами на фоне горы и солнца">
    </div>
    <div class="aside__item">
      <p class="aside__item-text">
        <span class="aside__item-text--invisible-on-hover">Наведитесь на текст &#x1f913;</span>
      </p>
    </div>
  </aside>
</div>
