<div class="main__content base-layout base-layout--from-left">
  <div class="table table--specific base-layout__item">
    <h1 class="table__main-header">
      <span class="table__main-header-text">Бизнес-план</span>
    </h1>
    <span class="table__column-header">Год</span>
    <span class="table__column-header">Расходы, млн. &dollar;</span>
    <span class="table__column-header">Доходы, млн. &dollar;</span>
    <span class="table__column-header">Прибыль, млн. &dollar;</span>
    <span class="table__column-header">Капитализация, млн. &dollar;</span>
    <span class="table__column-header">Место в списке Forbes</span>

    <div class="table-row">
      <span class="table__cell-value">2025</span>
      <span class="table__cell-value">0.1</span>
      <span class="table__cell-value">0.5</span>
      <span class="table__cell-value">0.4</span>
      <span class="table__cell-value">1</span>
      <span class="table__cell-value">-</span>
    </div>
    <div class="table-row">
      <span class="table__cell-value">2025</span>
      <span class="table__cell-value">0.1</span>
      <span class="table__cell-value">0.5</span>
      <span class="table__cell-value">0.4</span>
      <span class="table__cell-value">1</span>
      <span class="table__cell-value">-</span>
    </div>
    <div class="table-row">
      <span class="table__cell-value">2026</span>
      <span class="table__cell-value">10</span>
      <span class="table__cell-value">33</span>
      <span class="table__cell-value">23</span>
      <span class="table__cell-value">100</span>
      <span class="table__cell-value">99</span>
    </div>
    <div class="table-row">
      <span class="table__cell-value">2027</span>
      <span class="table__cell-value">200</span>
      <span class="table__cell-value">600</span>
      <span class="table__cell-value">400</span>
      <span class="table__cell-value">1000</span>
      <span class="table__cell-value">34</span>
    </div>
    <div class="table-row">
      <span class="table__cell-value">2027</span>
      <span class="table__cell-value">200</span>
      <span class="table__cell-value">600</span>
      <span class="table__cell-value">400</span>
      <span class="table__cell-value">1000</span>
      <span class="table__cell-value">34</span>
    </div>
    <div class="table-row">
      <span class="table__cell-value">2027</span>
      <span class="table__cell-value">200</span>
      <span class="table__cell-value">600</span>
      <span class="table__cell-value">400</span>
      <span class="table__cell-value">1000</span>
      <span class="table__cell-value">34</span>
    </div>
    <div class="table-row">
      <span class="table__cell-value">2027</span>
      <span class="table__cell-value">200</span>
      <span class="table__cell-value">600</span>
      <span class="table__cell-value">400</span>
      <span class="table__cell-value">1000</span>
      <span class="table__cell-value">34</span>
    </div>

  </div>
</div>