<aside class="aside main__side-flow">
  <div class="aside__item">
    <p class="aside__item-text"><b class="aside__item-text--bold">Может быть интересно</b>: <a
      class="aside__item-text--link"
      href="http://ruvserod.ru/tables/2d/"><b class="aside__item-text--bold">новая
      публикация</b></a> на
      научном
      разделе сайта! <q class="aside__item-text--quoted">Ноль, целковый, полушка, четвертушка,
        осьмушка, пудовичок, медячок, серебрячок,
        золотничок, девятичок,
        десятичок.</q> <cite class="aside__item-text--cite"> &ndash; Юрий Рыбников</cite>
    </p>
  </div>
  <div class="aside__item">
    <img src="/resources/images/japanese_landscape.jpg" class="aside__item-image"
         alt="красивый постер с японским пейзажем; цунами на фоне горы и солнца">
  </div>
  <div class="aside__item">
    <p class="aside__item-text">
      <span class="aside__item-text--invisible-on-hover">Наведитесь на текст &#x1f913;</span>
    </p>
  </div>
</aside>